body {text-align:left;
    width:720px;
    padding: 50px;
    /*border: solid left 6px black; */
    font-family:'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

header {margin-bottom:40px;
    line-height:.5;
    font-size:24px;
}

h1{color:#DD0000;
    font-weight:100;
        }

h2 {font-size:30px;
    font-weight: 100;}

a{color:lightgrey;
    font-size:20px;
    font-weight:100;
}

img {display:inline-block;
    margin-bottom: 20px;
    width:100%;
}

article {margin-bottom:50px;  
}

.date {font-size: 26px;
    font-weight:100;
    color: lightgrey;
    margin-bottom:-25px;
}

 h4 {font-weight:100;
    font-size: 26px;
}

div {text-align:right;
        color: red;
}

hr {width:100%;
}

footer {color:lightgrey;   
        margin-top:30px;
}



li {display:inline-block;
    color:red;
    padding:5px;
   

}
    
span{color:lightgrey;
}